apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-dplt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myclient
  template:
    metadata:
      labels:
        app: myclient
    spec:
      containers:
      - name: client-dplt
        image: client
        resources:
          limits:
            memory: "1536Mi"
            cpu: "500m"
        ports:
        - containerPort: 3000
        imagePullPolicy: IfNotPresent 
