apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-dplt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myclient
  template:
    metadata:
      labels:
        app: myclient
    spec:
      containers:
      - name: client-dplt
        image: drbwap/client:latest   #appelle l'image sur mon dockerhub (marche aussi avec "client")
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        
