apiVersion: apps/v1
kind: Deployment
metadata:
  name: comments-dplt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mycomments
  template:
    metadata:
      labels:
        app: mycomments
    spec:
      containers:
      - name: comments-dplt
        imagePullPolicy: IfNotPresent
        image: comments
        #image: drbwap/comments:latest
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 4001
