apiVersion: v1
kind: Service
metadata:
  name: event-bus-srv
spec:
  type: ClusterIP
  selector:
    app: myeventbus
  ports:
  - name: myeventbus
    protocol: TCP
    port: 4005
    targetPort: 4005
