apiVersion: v1
kind: Service
metadata:
  name: moderation-srv
spec:
  type: NodePort
  selector:
    app: mymoderation
  ports:
  - name: mymoderation
    protocol: TCP
    port: 4003
    targetPort: 80
