apiVersion: apps/v1
kind: Deployment
metadata:
  name: moderation-dplt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mymoderation
  template:
    metadata:
      labels:
        app: mymoderation
    spec:
      containers:
      - name: moderation-dplt
        image: moderation
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 4003
