apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-dplt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myposts
  template:
    metadata:
      labels:
        app: myposts
    spec:
      containers:
      - name: posts-dplt
        image: posts
        #image: drbwap/posts:latest
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 4000
